@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sport';
  src: url("./assets/fonts/siegra.ttf");
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.font-sport {
  font-family: 'Sport', sans-serif;
}

.grid-container {
  grid-template-columns: auto auto auto;
}